# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Node / frontend (future safety)
node_modules/

# Build outputs
dist/
build/
